[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
markupsafe = "==1.1.1"
werkzeug = "==1.0.1"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"

[dev-packages]

[requires]
python_version = "3.9"
